.container{
    display: flex;
    gap:1rem;
    border:1px solid lightgray;
    min-height: 300px;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.footer{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid lightgray;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    height: 2rem;
    align-items: center;
}

.orderButton{
    background: lightgreen;
    color: olivedrab;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}