#search {
    border: 1px solid cadetblue;
    border-radius: 50px;
    width: 20%;
    height: 25px;
    padding: 5px 0;
    margin: 20px auto;
    display: flex;
  }
  #search > input,
  img {
    margin: 2px 10px;
  }
  #search > input {
    border: none;
    overflow: auto;
    outline: none;
    text-align: left;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
  }
  
  #list {
    width: 50%;
    margin: 0 auto;
  }
  #list > div {
  }
  #list > div,
  div {
    margin: 0 auto;
  }
  
  #list > div > div {
    height: 450px;
    width: 100%;
  }
  #list > div > div > img {
    width: 100%;
    height: 100%;
  }
  #list > div > h3,
  p {
    margin: 10px 10px;
  }