body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: plum;
  color: black;
  justify-content: center;
  align-items: center;
}

.heading-text {
  color: black;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
}
