#search_bar{
    width: 80%;
    margin: 10px auto;
}

#query{
    width:100%;
    height: 35px;
    border: 1px solid teal;
    padding: 5px;
    font-size: medium;
    border-radius: 30px;
}

#categories{
    display: flex;
    justify-content: space-evenly;
}

#categories h3{
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}